<div class="col-md-12">
	<h2>{{ page_title }}</h2>
	<div class="alert alert-success" *ngIf="statusCar == 'success'">
		El coche se ha guardado correctamente.
	</div>
	<div class="alert alert-danger" *ngIf="statusCar == 'error'">
		El coche no se ha guardado correctamente, intentalo de nuevo.<br/>
		<ul>
			<li>{{sta.error.title}}</li>
		</ul>
	</div>


	<form #carNew="ngForm" (ngSubmit)="onSubmit(carNew)" class="col-md-5">
		<p>
			<label for="title">Titulo</label>
			<input type="text" name="title" class="form-control" #title="ngModel" [(ngModel)]="car.title" required />
			<span *ngIf="!title.valid && title.touched ">
				El titulo del coche no es valido.
			</span>
		</p>
		<p>
			<label for="description">Descripción del coche</label>
			<textarea name="description" class="form-control" #description="ngModel" [(ngModel)]="car.description" required ></textarea>
			<span *ngIf="!description.valid && description.touched ">
				La descripción del coche no es valida.
			</span>
		</p>
		<p>
			<label for="price">Precio</label>
			<input type="number" name="price" class="form-control" #price="ngModel" [(ngModel)]="car.price" required />
			<span *ngIf="!price.valid && price.touched ">
				El precio del coche no es valido.
			</span>
		</p>
		<p>
			<label for="status">¿A la venta?</label>
			<select class="form-control" name="status" #status="ngModel" [(ngModel)]="car.status" required>
				<option value="true" selected="selected">Si</option>
				<option value="false">No</option>
			</select>
		</p>

		<input type="submit" value="Guardar" class="btn btn-success" [disabled]="!carNew.form.valid"/>
	</form>
</div>