<!--Cabecera.-->

<header id="header">
<div class="navbar navbar-default">
  <div class="navbar-header">
    <a href="" class="navbar-brand">    <!--lOGOTIPO DE LA PAGINA.-->
      CONCECIONARIO
    </a>
  </div>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="nav navbar-nav">
      <li>
        <a href="">Inicio</a>
      </li>
      <li>
        <a href="" *ngIf="identity">Crear coche</a>
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
      <li>
        <a [routerLink]="['login']" >Inciar sesión</a>
      </li>
      <li>
        <a [routerLink]="['registro']" >Registrarse</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="identity">
      <li>
        <a href="#">{{identity.name + ' ' + identity.surname}}</a>
      </li>
      <li>
        <a [routerLink]="['registro']">
          <span class="glyphicon glyphicon-log-out"></span>
        Cerrar Sesión</a>
      </li>
    </ul>

  </div>
</div>
</header>

<!-- Contenido -->
<router-outlet></router-outlet>